body {
  background-color: rgb(217, 209, 228);
  font-family: "Fira Sans", sans-serif;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: rgb(103, 27, 202);
}

img {
  width: 260px;
  height: 140px;
}

main {
  width: 730px;
  margin: auto;
  color: white;
  background-color: rgb(116, 50, 204);
  padding: 30px;
  border-radius: 8px;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px;
}

.highlight {
  color: yellow;
}

.MDN {
  background-color: rgb(227, 230, 178);
  color: black;
  padding: 4px;
  border-radius: 4px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

footer a {
  display: inline-block;
  background-color: rgb(235, 204, 29);
  color: black;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
}

footer p {
  color: grey;
}